<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>Enino:</strong>
  <%= @factura.eNino %>
</p>

<p>
  <strong>Eadulto:</strong>
  <%= @factura.eAdulto %>
</p>

<p>
  <strong>Eamayor:</strong>
  <%= @factura.eAMayor %>
</p>

<p>
  <strong>Tnino:</strong>
  <%= @factura.tNino %>
</p>

<p>
  <strong>Tadulto:</strong>
  <%= @factura.tAdulto %>
</p>

<p>
  <strong>Tamayor:</strong>
  <%= @factura.tAMayor %>
</p>

<p>
  <strong>Total:</strong>
  <%= @factura.total %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @factura.notas %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
