<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @tour.fecha.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @tour.hora.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Cupo total:</strong>
  <%= @tour.cupo_total %>
</p>

<p>
  <strong>Estado:</strong>
  <% if @tour.id_estado==1 %>
    Disponible
  <% end %>
  <% if @tour.id_estado==2 %>
    Sin Cupo
  <% end %>
</p>

<p>
  <strong>Cupo disponible:</strong>
  <%= @tour.cupo_disponible %>
</p>

<%= link_to 'Editar', edit_tour_path(@tour) %> |
<%= link_to 'Atras', tours_path %>
